@-ms-viewport{
    width: device-width;
}

body {
    background-color: #0b0f18;
}
a {
    text-decoration: dotted;
}
header {
    background-color: #0b0f18;
    color: #f2f2f2;
    height: 100px;
    padding: 20 20 100 20;
}
section {
    background-color: white;
    padding: 10 20;
    border-bottom: solid 1px #f2f2f2;
}
footer {
    background-color: #0b0f18;
    color: #f2f2f2;
    padding: 20;
}
section h5 {
    color: #070057
}